<div class="entry">
    <div class="entry__info">
        <span class="entry__time">Время создания: </span>

        <div class="entry__hero">
            <angular-editor [(ngModel)]="entry.paragraph" ngDefaultControl></angular-editor>
        </div>
    </div>

    <figure class="entry__figure">
        <img [src]="entry.picture" alt="Фото" 
            width="120px"
            class="entry__img">
    </figure>
</div>

<app-button [color]="'default'" [title]="'Сохранить'"></app-button>

<app-button [color]="'default'" [title]="'Отменить'" (click)="onCancel()"></app-button>
