<!-- <app-entry [isSave]="isSave"></app-entry> -->

<div class="entry">
    <div class="entry__info">
        <div class="entry__hero">
            <div class="entry__text"></div>

            <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
        </div>
    </div>

    <figure class="entry__figure">
        <input placeholder="фото" type="file" [(ngModel)]="photo" (change)="onFileSelected($event)">
    </figure>
</div>

<app-button
    [color]="'default'"
    [title]="'Сохранить'" 
    (click)="onSubmit()"
></app-button>

<app-button
    [color]="'default'"
    [title]="'Отменить'" 
    (click)="onCancel()"
></app-button>
