<div class="entry">
    <div class="entry__info">
        <span class="entry__time">Время создания: {{ entryData.time | date:'full':'+7':'ru-RU' }}</span>

        <div class="entry__hero">
            <angular-editor [(ngModel)]="entryData.paragraph" [config]="config"></angular-editor>
        </div>
    </div>

    <figure class="entry__figure">
        <img [src]="entryData.picture" alt="Фото"
            width="120px"
            class="entry__img">
    </figure>
</div>

<app-button [color]="'default'" [title]="'Изменить'" (click)="change(entryData.id)"></app-button>

<app-button [color]="'default'" [title]="'Удалить'" (click)="deleteEntry(entryData)"></app-button>
